<h1>投稿を編集</h1>

<% if @message.user_id == current_user.id %>
  <%= render 'form', message: @message, board: @board %>
<% end %>

<% if @message.user_id != current_user.id %>
  <p class="alert">投稿の編集権限がありません。</p>
<% end %>


<%= link_to '詳細', board_message_path %>
<%= link_to '投稿一覧に戻る', board_messages_path %>
